.left-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e2e8f0;
}

.left-navbar > h1 {
  font-size: 15px;
  color: #475569;
}

.left-navbar > ul {
  list-style-type: none;
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin-right: 15px;
  color: #475569;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #e2e8f0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content > h1 {
  font-size: 15px;
  color: #475569;
}

.content > p {
  color: #475569;
  text-align: center;
  margin-top: 0px;
}

.right-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e2e8f0;
}

.right-navbar > h1 {
  font-size: 15px;
  color: #475569;
}

.ads-container {
  display: flex;
}

.ads-container > div {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid #475569;
  margin-left: 5px;
  margin-right: 5px;
}

.ads-container > div > p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .body-container {
    display: flex;
    width: 100%;
    height: 370px;
  }

  .left-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: #e2e8f0;
    width: 30%;
    margin-right: 10px;
  }

  .left-navbar > h1 {
    font-size: 15px;
    color: #475569;
    text-align: left;
  }

  .left-navbar > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5px;
  }

  li {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .content-container {
      width: 40%;
      flex-grow: 1;
  }

  .content {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .content > h1 {
    text-align: left;
  }

  .content > p {
    text-align: left;
  }

  .right-navbar {
    width: 30%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ads-container {
    flex-direction: column;
    width: 100%;
  }

  .ads-container > div {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
